root { 
    display: block;
}

html{
	padding:0;
	margin:0;
	background-color:#efefef;
	background-image:url('../img/bgTexture.png');
	background-repeat: repeat;
}
body{
	margin:0 auto;
	padding:0;
	background-color:#efefef;
	background-image:url('../img/bgTexture.png');
	background-repeat: repeat;
}
.max-width-580{
	max-width:580px;
	-webkit-box-sizing: content-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: content-box;    /* Firefox, other Gecko */
	box-sizing: content-box;
}
.padding_0{
	padding:0 !important;
}
.clearFloat{
	clear:both;
}
.mainHeader{
	margin:0 auto;
	background-image:url('../img/horz-line-bg.png');
	background-repeat: repeat-x;
	background-position: bottom;
	overflow:auto;
}
.mainFooter{
	height:90px;
	background-image:url('../img/footerBG.png');
	background-repeat: repeat-x;
	background-position:left;
}
.footerText{
	color:#bbbbbb;
	margin:44px 0px 0px 9px;
	float:left;
}
.footerBWlogo{
	margin:33px 10px 0px 0px;
	height:31px;
	width:108px;
	background-image:url('../img/logo_white.png');
	background-repeat: no-repeat;
	background-position: center;
	float:right;
}
#logo{
	background-image: url('../img/logo.png');
	background-repeat: no-repeat;
	background-position: center;
	display:block;
	height:55px;
	width:178px;
	float:left;
	margin:15px 0px 12px 9px;
}
#logoLink{
	display:inline-block;
	overflow:auto;
}
#titleCaption{
	float:right;
	height:20px;
	font-size:14px;
	font-family: HelveticaNeue, arial;
	color:#38190b;
	margin:48px 0px 0px 0px;
}

.horzRule{
	width:100%;
	height:2px;
	margin:10px 0px;
	background-image:url('../img/horz-line-bg.png');
	background-repeat: repeat-x;
	background-position: center;
}

.centerWithMargin{
	margin:0 auto;
}
.form-signin {
  max-width: 500px;
  margin: 15px auto;
}

.margin-auto{
	margin:0 auto;
}

.votingContainer{
	width:100%;
	position:relative;
}
.graphAndAddContainer{}
.leaderBoardContainer{}

.imageContainer{
	background-color:#ffffff;
	border:5px solid #FFFFFF;
	position:relative;
	width:48%;
}
.leftImgShadow{
	box-shadow: -11px 15px 16px -8px #bbbbbb;
}
.rightImgShadow{
	box-shadow: 11px 15px 16px -8px #bbbbbb;
}
.bannerContainer{
	width:100%;
	position:absolute;
	top:72%;
}
.photoBanner{
	width:43%;
	position:relative;
}
.leftBanner{
	float:left;
	left:-12px;
}
.rightBanner{
	float:right;
	right:-12px;
}
.bannerText{
	position:absolute;
	width:77%;
	top:34%;
	color:#FFFFFF;
	text-transform:uppercase;
	font-weight:bold;
	font-size:1em;
	height:50%;
	overflow:hidden;
}
.bannerTextLeft{
	left:18%;
	text-align: left;
	text-shadow: 0px -1px 2px #1b6195;
}
.bannerTextRight{
	right:18%;
	text-align: right;
	text-shadow: 0px -1px 2px #a15323;
}

.vsFlag{
	position:absolute;
	float:left;
	top:40%;
	left:42%;
	width:16%;
}

.horzSpacer{
	height:20px;
	width:100%;
}
.graphAndAddContainer{
	position:relative;
	overflow:hidden;
	height:271px;
	margin-top:20px;
}
.leaderBoardContainer{
	margin-top:20px;
}

.segment{
	width:100%;
	float:left;
	background-color:#efefef;
	background-image:url('../img/bgTexture.png');
	background-repeat: repeat;
}
.segmentTitle{
	margin-left:1%;
}
.segment > .segmentContentContainer{
	height:91%;
}

.currentResultsSegment{
	position:absolute;
	width:69%;
	height:100%;
	left:0px;
	top:0px;
}
.whatsThisSegment{
	position:absolute;
	height:100%;
	left:72%;
	top:0px;
}
.leaderBoardSegment{
	
}

.currentResultsTitle{
	width:52%;
}
.whatsThisTitle{
	width:25%;
	cursor:pointer;
}
.whatsThisTitle:hover {
	background-color:#bfbfbf;
}
.leaderBoardTitle{
	width:29%;
}

.whatsThisInfoContainer{
	width:27%;
	height:100%;
	background-image:url('../img/vert-line-bg.png');
	background-repeat:repeat-y;
	background-position: right;
	float:left;
}
.whatsThisInfoWrapper{
	box-sizing: border-box;
	height:100%;
	width:100%;
	padding-right:10%;
}
.whatsThisInfo{
	height:75%;
	overflow:hidden;
}
.whatsThisInfoButton{
	box-sizing: border-box;
	height:25%;
	padding:12px;
	text-align:center;
	color:#FFFFFF;
	text-shadow: 1px -1px 1px 1px #a15323;
	font-size:11px;
	background: #f5a001; /* Old browsers */
	background: -moz-linear-gradient(top,  #f5a001 0%, #f24e00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5a001), color-stop(100%,#f24e00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f5a001 0%,#f24e00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f5a001 0%,#f24e00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f5a001 0%,#f24e00 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f5a001 0%,#f24e00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5a001', endColorstr='#f24e00',GradientType=0 ); /* IE6-9 */
	
	border-radius:12px;
	border:1px solid #f24e00;
	cursor:pointer;
}
.whatsThisInfoButton:hover{
	background: #f4a718; /* Old browsers */
	background: -moz-linear-gradient(top,  #f4a718 0%, #ef5c17 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4a718), color-stop(100%,#ef5c17)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f4a718 0%,#ef5c17 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f4a718 0%,#ef5c17 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f4a718 0%,#ef5c17 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f4a718 0%,#ef5c17 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4a718', endColorstr='#ef5c17',GradientType=0 ); /* IE6-9 */

	border:1px solid #ef5c17;
}

.uploaderContainer{
	float: left;
	height: 100%;
	width: 73%;
}

.uploadImageContainer{
	float:left;
	width:45%;
	margin-left:5%;
	border:4px solid #FFFFFF;
	background-color:#e8e9e5;
	box-shadow: 0px 0px 17px -4px #aaaaaa;
}
.uploadFormContainer{
	float:left;
	width:45%;
	margin-left:5%;
}

.uploadInput{
	width:100%;
	padding:3px;
	border-radius:2px;
	border:1px solid #aaaaaa;
	box-shadow: 1px 1px 11px -5px #000000 inset;
}


/* End of file style.css */
/* Location:  /css/style.css */