root { 
    display: block;
}

html{
	padding:0;
	margin:0;
	background-color:#efefef;
	background-image:url('../img/bgTexture.png');
	background-repeat: repeat;
}
body{
	margin:0 auto;
	padding:0;
	background-color:#efefef;
	background-image:url('../img/bgTexture.png');
	background-repeat: repeat;
}
.max-width-580{
	max-width:580px;
	-webkit-box-sizing: content-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: content-box;    /* Firefox, other Gecko */
	box-sizing: content-box;
}
.padding_0{
	padding:0 !important;
}
.padding_13{
	padding:13px !important;
}
.clearFloat{
	clear:both;
}
.displayNone{
	display:none;
}
.mainHeader{
	margin:0 auto;
	background-image:url('../img/horz-line-bg.png');
	background-repeat: repeat-x;
	background-position: bottom;
	overflow:auto;
}
.mainFooter{
	height:90px;
	background-image:url('../img/footerBG.png');
	background-repeat: repeat-x;
	background-position:left;
}
.footerText{
	color:#bbbbbb;
	margin:44px 0px 0px 9px;
	float:left;
}
.footerBWlogo{
	margin:33px 10px 0px 0px;
	height:31px;
	width:108px;
	background-image:url('../img/logo_white.png');
	background-repeat: no-repeat;
	background-position: center;
	float:right;
}
#logo{
	background-image: url('../img/logo.png');
	background-repeat: no-repeat;
	background-position: center;
	display:block;
	height:55px;
	width:178px;
	float:left;
	margin:15px 0px 12px 9px;
}
#logoLink{
	display:inline-block;
	overflow:auto;
}
#titleCaption{
	float:right;
	height:20px;
	font-size:14px;
	font-family: HelveticaNeue, arial;
	color:#38190b;
	margin:48px 0px 0px 0px;
}

.horzRule{
	width:100%;
	height:2px;
	margin:10px 0px;
	background-image:url('../img/horz-line-bg.png');
	background-repeat: repeat-x;
	background-position: center;
}

.centerWithMargin{
	margin:0 auto;
}
.form-signin {
  max-width: 500px;
  margin: 15px auto;
}

.margin-auto{
	margin:0 auto;
}

.votingContainer{
	width:100%;
	position:relative;
}
.graphAndAddContainer{}
.leaderBoardContainer{}

.imageContainer{
	background-color:#ffffff;
	border:5px solid #FFFFFF;
	position:relative;
	width:48%;
	transition: all 0.5s;
	cursor:pointer;
}
.imageContainer:hover{
	border:5px solid #2acc2a;
}
.leftImgShadow{
	box-shadow: -11px 15px 16px -8px #bbbbbb;
}
.leftImgShadow:hover{
	box-shadow: -14px 17px 16px -8px #707070;
}
.rightImgShadow{
	box-shadow: 11px 15px 16px -8px #bbbbbb;
}
.rightImgShadow:hover{
	box-shadow: 14px 17px 16px -8px #707070;
}
.bannerContainer{
	width:100%;
	position:absolute;
	top:72%;
}
.photoBanner{
	width:43%;
	position:relative;
}
.leftBanner{
	float:left;
	left:-12px;
}
.rightBanner{
	float:right;
	right:-12px;
}
.bannerText{
	position:absolute;
	width:77%;
	top:34%;
	color:#FFFFFF;
	text-transform:uppercase;
	font-weight:bold;
	font-size:1em;
	height:50%;
	overflow:hidden;
}
.bannerTextLeft{
	left:18%;
	text-align: left;
	text-shadow: 0px -1px 2px #1b6195;
}
.bannerTextRight{
	right:18%;
	text-align: right;
	text-shadow: 0px -1px 2px #a15323;
}

.vsFlag{
	position:absolute;
	float:left;
	top:40%;
	left:42%;
	width:16%;
}

.horzSpacer{
	height:20px;
	width:100%;
}
.graphAndAddContainer{
	position:relative;
	overflow:hidden;
	height:271px;
	margin-top:20px;
}
.leaderBoardContainer{
	margin-top:20px;
}

.segment{
	width:100%;
	float:left;
	background-color:#efefef;
	background-image:url('../img/bgTexture.png');
	background-repeat: repeat;
}
.segmentTitle{
	margin-left:1%;
}
.segment > .segmentContentContainer{
	height:91%;
	background-color:#cdcccc;
	background-image:url('../img/bgTexture.png');
	background-repeat: repeat;
}

.currentResultsSegment{
	position:absolute;
	width:69%;
	height:100%;
	left:0px;
	top:0px;
}
.whatsThisSegment{
	position:absolute;
	height:100%;
	left:72%;
	top:0px;
}
.leaderBoardSegment{
	
}

.currentResultsTitle{
	width:52%;
}
.whatsThisTitle{
	width:25%;
	cursor:pointer;
}
.whatsThisTitle:hover {
	background-color:#bfbfbf;
}
.leaderBoardTitle{
	width:29%;
}

.whatsThisInfoContainer{
	width:27%;
	height:100%;
	background-image:url('../img/vert-line-bg.png');
	background-repeat:repeat-y;
	background-position: right;
	float:left;
}
.whatsThisInfoWrapper{
	box-sizing: border-box;
	height:100%;
	width:100%;
	padding-right:10%;
}
.whatsThisInfo{
	height:75%;
	overflow:hidden;
}
.whatsThisInfoButton{
	height:25%;
	font-size:11px;
	border-radius:12px;
	color:#FFFFFF;
	text-shadow: 1px -1px 1px 1px #a15323;
	box-sizing: border-box;
	padding:12px;
	text-align:center;
	cursor:pointer;
} 
.orangeGradient{
	background: #f5a001; /* Old browsers */
	background: -moz-linear-gradient(top,  #f5a001 0%, #f24e00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5a001), color-stop(100%,#f24e00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f5a001 0%,#f24e00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f5a001 0%,#f24e00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f5a001 0%,#f24e00 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f5a001 0%,#f24e00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5a001', endColorstr='#f24e00',GradientType=0 ); /* IE6-9 */
	border:1px solid #f24e00;
}
.orangeGradient:hover{
	background: #f4a718; /* Old browsers */
	background: -moz-linear-gradient(top,  #f4a718 0%, #ef5c17 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4a718), color-stop(100%,#ef5c17)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f4a718 0%,#ef5c17 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f4a718 0%,#ef5c17 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f4a718 0%,#ef5c17 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f4a718 0%,#ef5c17 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4a718', endColorstr='#ef5c17',GradientType=0 ); /* IE6-9 */

	border:1px solid #ef5c17;
}
.greyGradient{
	background: #999999; /* Old browsers */
	background: -moz-linear-gradient(top,  #999999 0%, #757575 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(100%,#757575)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #999999 0%,#757575 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #999999 0%,#757575 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #999999 0%,#757575 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #999999 0%,#757575 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#757575',GradientType=0 ); /* IE6-9 */
	border:1px solid #757575;
}
.greyGradient:hover{
	background: #b3b2b2; /* Old browsers */
	background: -moz-linear-gradient(top,  #b3b2b2 0%, #919090 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b3b2b2), color-stop(100%,#919090)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b3b2b2 0%,#919090 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b3b2b2 0%,#919090 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b3b2b2 0%,#919090 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b3b2b2 0%,#919090 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3b2b2', endColorstr='#919090',GradientType=0 ); /* IE6-9 */
	border:1px solid #919090;
}

.blueGradient{
	background: #8bc4ee; /* Old browsers */
	background: -moz-linear-gradient(top,  #8bc4ee 0%, #2883c6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8bc4ee), color-stop(100%,#2883c6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8bc4ee 0%,#2883c6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8bc4ee 0%,#2883c6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8bc4ee 0%,#2883c6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #8bc4ee 0%,#2883c6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8bc4ee', endColorstr='#2883c6',GradientType=0 ); /* IE6-9 */
	border:1px solid #2883c6;
}
.blueGradient:hover{
	background: #a3ceed; /* Old browsers */
	background: -moz-linear-gradient(top,  #a3ceed 0%, #3c8bc4 98%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a3ceed), color-stop(98%,#3c8bc4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a3ceed 0%,#3c8bc4 98%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a3ceed 0%,#3c8bc4 98%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a3ceed 0%,#3c8bc4 98%); /* IE10+ */
	background: linear-gradient(to bottom,  #a3ceed 0%,#3c8bc4 98%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3ceed', endColorstr='#3c8bc4',GradientType=0 ); /* IE6-9 */
	border:1px solid #3c8bc4;
}

.uploaderContainer{
	float: left;
	height: 100%;
	width: 73%;
}

.uploadImageContainer{
	float:left;
	width:45%;
	margin-left:5%;
	border:4px solid #FFFFFF;
	background-color:#e8e9e5;
	box-shadow: 0px 0px 17px -4px #aaaaaa;
}
.uploadFormContainer{
	float:left;
	width:45%;
	margin-left:5%;
}
.uploadInput{
	width:100%;
	padding:3px;
	border-radius:2px;
	border:1px solid #aaaaaa;
	box-shadow: 1px 1px 11px -5px #000000 inset;
}
.uploadButton{
	width:100%;
	border-radius:20px;
	color:#FFFFFF;
	text-shadow: 1px -1px 1px 1px #a15323;
}
.uploadButton:hover{
	color:#FFFFFF !important;
}
.uploadButtonsTopMargin{
	margin-top:10%;
}

.lbItemContainer{
	height:113px;
	width:93px;
	position:relative;
	float:left;
	margin:0px 11px 10px 6px;
	color:#38190b;
}
.lbImageContainer{
	border:4px solid #FFFFFF;
	background-color:#FFFFFF;
	height:95px;
	width:93px;
	overflow:hidden;
	box-shadow:0px 0px 10px -2px #aaaaaa;
}
.lbBadgeContainer{
	position:absolute;
	top: -2px;
	right: -2px;
	width: 18px;
	height: 8px;
}
.lbItemIsMineBadge{
	float:right;
	height:8px;
	width:8px;
	background-color:#2acc2a;
	display:none;
}
.lbInfoBoxPopup{
	position:absolute;
	height:51px;
	width:177px;
	display:none;
	top:-50%;
	left:-50%;
	transition:all 1s;
	background-color:#FFFFFF;
	box-shadow: 0px 4px 15px 2px #8F8F8F;
	padding:16px 8px;
	color:#38190b;
}
.lbItemContainer:hover .lbInfoBoxPopup{
	display:block;
	top:-58%;
}
.lbInfoBoxAttached{
	display:none;
}
.lbName{
	height:19px;
	width:91px;
	float:left;
	font-weight:bolder;
	font-size:19px;
	line-height:19px;
	text-align:left;
}
.lbVotes{
	height:19px;
	width:70px;
	float:left;
	text-align:right;
}
.lbTail{
	position:absolute;
	height:35px;
	width:51px;
	top: 100%;
	left: 67px;
	background-image:url('../img/popUpTriangle.png');
	background-repeat: no-repeat;
	background-position: center;
}
.lbRank{
	text-align:center;
}
.lbFeatured{
	height:181px !important;
	width:178px !important;
	margin:0px 6px 18px 0px;
}
.lbFeatured > .lbImageContainer{
	box-sizing: content-box;
	border:7px solid #FFFFFF;
	height:139px;
	width:162px;
	box-shadow: 0px 0px 24px -4px #727272;
}
.lbFeatured > .lbBadgeContainer{
	top: 0px;
	right: 2px;
	width: 44px;
	height: 5px;
}

.lbFeatured > .lbInfoBoxPopup{
	position:relative;
	display:none !important;
	height:30px;
	width:177px;
	top:0px;
	left:0px;
	background-color:#FFFFFF;
	padding:16px 8px;
	color:#38190b;
}
.lbFeatured > .lbInfoBoxPopup:hover{
	position:relative;
	display:none !important;
	height:30px;
	width:177px;
	top:0px;
	left:0px;
	background-color:#FFFFFF;
	padding:16px 8px;
	color:#38190b;
	box-shadow:0px 0px 0px 0px #FFFFFF;
}
.lbFeatured > .lbInfoBoxPopup > .lbTail{
	display:none;
}
.lbFeatured > .lbRank{
	display:none;
}
.lbFeatured > .lbInfoBoxAttached{
	position:relative;
	display:block;
	height:30px;
	width:177px;
	background-color:#FFFFFF;
	padding:3px 8px;
	color:#38190b;
}

.ribbon{
	display:none;
	height:63px;
	width:38px;
	position:absolute;
	top: -7px;
	right: 14px;
}

.gold{
	background-image:url('../img/1ribbon.png');
	background-image:no-repeat;
	background-position:center;
}
.silver{
	background-image:url('../img/2ribbon.png');
	background-image:no-repeat;
	background-position:center;
}
.bronze{
	background-image:url('../img/3ribbon.png');
	background-image:no-repeat;
	background-position:center;
}


.graphContainer{
	height:100%;
	width:100%;	
	position:relative;
}
.graph{
	position:absolute;
	bottom:0px;
	width:30%;
	color:#FFFFFF;
	font-weight:bolder;
	text-shadow:1px 1px 1px 1px #e0e0e0;
	text-align:center;
}
.graphA{
	left:15%;
	height:10%;
}
.graphB{
	height:20%;
	right:15%;
}
.graphTextContainer{
	position:absolute;
	bottom:0px;
	width:100%;
}
/* End of file style.css */
/* Location:  /css/style.css */